.app-div {
    padding-top: 50px;
}

.app-inner-div {
    text-align: center;
    margin: 0 auto;
    background-color: #ff902b;
    width: 350px;
    height: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
